* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body{
    margin: 2rem;
}

form, .buttons{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

button, a{
    width: 100px;
    background: #B1B2FF;
    padding: 5px;
    border-radius: 5px;
    border: #B1B2FF;
    margin-top: 0.5rem;
    color: black;
    font-weight: bold;
    cursor: pointer;
}

.hidden{
    display: none;
}

.showContent{
    display: block;
}

#tokenContainer{
    margin: 1rem 0rem;
    background: #D2DAFF;
    width: 12vw;
    text-align: center;
    padding: 2px;
}

h3{
    margin-top: 3rem;
    margin-bottom: 1rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}

#historyContainer{
    background: #D2DAFF;
    width: 12vw;
    word-break: break-word;
}